@font-face {
    font-family: 'berlinregular';
    src: url('berlin.eot');
    src: url('berlin.eot?#iefix') format('embedded-opentype'),
         url('berlin.woff') format('woff'),
         url('berlin.ttf') format('truetype'),
         url('berlin.svg#berlinregular') format('svg');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'berlin_xboldxbold';
    src: url('berlin_x-bold.eot');
    src: url('berlin_x-bold.eot?#iefix') format('embedded-opentype'),
         url('berlin_x-bold.woff') format('woff'),
         url('berlin_x-bold.ttf') format('truetype'),
         url('berlin_x-bold.svg#berlin_xboldxbold') format('svg');
    font-weight: bolder;
    font-style: normal;}
@font-face {
    font-family: 'berlin_boldbold';
    src: url('berlin_bold.eot');
    src: url('berlin_bold.eot?#iefix') format('embedded-opentype'),
         url('berlin_bold.woff') format('woff'),
         url('berlin_bold.ttf') format('truetype'),
         url('berlin_bold.svg#berlin_boldbold') format('svg');
    font-weight: bold;
    font-style: normal;}
@font-face {
    font-family: 'berlinitalic';
    src: url('berlin_-_italic.eot');
    src: url('berlin_-_italic.eot?#iefix') format('embedded-opentype'),
         url('berlin_-_italic.woff') format('woff'),
         url('berlin_-_italic.ttf') format('truetype'),
         url('berlin_-_italic.svg#berlinitalic') format('svg');
    font-weight: normal;
    font-style: italic;}
@font-face {
    font-family: 'uberlin_boldbold';
    src: url('uberlin_bold.eot');
    src: url('uberlin_bold.eot?#iefix') format('embedded-opentype'),
         url('uberlin_bold.woff') format('woff'),
         url('uberlin_bold.ttf') format('truetype'),
         url('uberlin_bold.svg#uberlin_boldbold') format('svg');
    font-weight: bold;
    font-style: normal;}
@font-face {
    font-family: 'uberlinregular';
    src: url('uberlin.eot');
    src: url('uberlin.eot?#iefix') format('embedded-opentype'),
         url('uberlin.woff') format('woff'),
         url('uberlin.ttf') format('truetype'),
         url('uberlin.svg#uberlinregular') format('svg');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'uberlin_xboldregular';
    src: url('uberlin_x-bold.eot');
    src: url('uberlin_x-bold.eot?#iefix') format('embedded-opentype'),
         url('uberlin_x-bold.woff') format('woff'),
         url('uberlin_x-bold.ttf') format('truetype'),
         url('uberlin_x-bold.svg#uberlin_xboldregular') format('svg');
    font-weight: bolder;
    font-style: normal;}
@font-face {
    font-family: 'sifonnbasic-outline';
    src: url('sifonn_basic_outline.eot');
    src: url('sifonn_basic_outline.eot?#iefix') format('embedded-opentype'),
         url('sifonn_basic_outline.woff') format('woff'),
         url('sifonn_basic_outline.ttf') format('truetype'),
         url('sifonn_basic_outline.svg#sifonnbasic_outline') format('svg');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'sifonn';
    src: url('sifonn.eot');
    src: url('sifonn.eot?#iefix') format('embedded-opentype'),
         url('sifonn.woff') format('woff'),
         url('sifonn.ttf') format('truetype'),
         url('sifonn.svg#sifonnbasic') format('svg');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'coolvetica-regular';
    src: url('coolvetica-regular.eot');
    src: url('coolvetica-regular.eot?#iefix') format('embedded-opentype'),
         url('coolvetica-regular.woff') format('woff'),
         url('coolvetica-regular.ttf') format('truetype'),
         url('coolvetica-regular.svg#coolveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'code_pro_lcregular';
    src: url('code_pro_lc-webfont.eot');
    src: url('code_pro_lc-webfont.eot?#iefix') format('embedded-opentype'),
         url('code_pro_lc-webfont.woff') format('woff'),
         url('code_pro_lc-webfont.ttf') format('truetype'),
         url('code_pro_lc-webfont.svg#code_pro_lcregular') format('svg');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'code_pro_bold_lcregular';
    src: url('code_pro_bold_lc.eot');
    src: url('code_pro_bold_lc.eot?#iefix') format('embedded-opentype'),
         url('code_pro_bold_lc.woff') format('woff'),
         url('code_pro_bold_lc.ttf') format('truetype'),
         url('code_pro_bold_lc.svg#code_pro_bold_lcregular') format('svg');
    font-weight: bold;
    font-style: normal;}
@font-face {
    font-family: 'code_pro_black_lcregular';
    src: url('code_pro_black_lc.eot');
    src: url('code_pro_black_lc.eot?#iefix') format('embedded-opentype'),
         url('code_pro_black_lc.woff') format('woff'),
         url('code_pro_black_lc.ttf') format('truetype'),
         url('code_pro_black_lc.svg#code_pro_black_lcregular') format('svg');
    font-weight: bolder;
    font-style: normal;}
@font-face {
    font-family: 'code_pro_light_lcregular';
    src: url('code_pro_light_lc.eot');
    src: url('code_pro_light_lc.eot?#iefix') format('embedded-opentype'),
         url('code_pro_light_lc.woff') format('woff'),
         url('code_pro_light_lc.ttf') format('truetype'),
         url('code_pro_light_lc.svg#code_pro_light_lcregular') format('svg');
    font-weight: lighter;
    font-style: normal;}
@font-face {
    font-family: 'norwester';
    src: url('norwester.eot');
    src: url('norwester.eot?#iefix') format('embedded-opentype'),
         url('norwester.woff') format('woff'),
         url('norwester.ttf') format('truetype'),
         url('norwester.svg#code_pro_light_lcregular') format('svg');
    font-weight: normal;
    font-style: normal;}